#banner
{
  width: 100%;
}



main
{
  margin-right: 10%;
    margin-left: 10%;
    }

#Nav
{
  
   margin-right: 10%;
    margin-left: 10%;
  
  
}

footer
{
  margin-right: 10%;
    margin-left: 10%;
    }
